[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/SimpleDataSource"]
	path = Carthage/Checkouts/SimpleDataSource
	url = https://github.com/Rep2/SimpleDataSource.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Carthage/Checkouts/SDWebImage"]
	path = Carthage/Checkouts/SDWebImage
	url = https://github.com/SDWebImage/SDWebImage.git
[submodule "Carthage/Checkouts/TTTAttributedLabel"]
	path = Carthage/Checkouts/TTTAttributedLabel
	url = https://github.com/TTTAttributedLabel/TTTAttributedLabel.git
